.container {
    /*background-color: black;*/
    border: 1px black;
    display:inline-block;
}

.js-rightview {
    border: 1px black;
    display:inline-block;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


