.navbar {
    border: 1px solid black;
    width: 24%;
    height: 100%;
    display:inline-block;
    float:left;
    bottom:0;
    left:0;
}

.frame {
    width: 75%;
    height: 100%;
    border: 1px solid black;
    display:inline-block;

}

iframe {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

table, td {
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
}
