<html lang="en" xmlns:th="http://www.thymeleaf.org" hx-boost="true">
<head>
    <title>Home</title>
    <script th:src="@{/webjars/htmx.org/1.9.10/dist/htmx.min.js}" defer></script>
    <link rel="stylesheet" th:href="@{/global.css}"/>
</head>
<body>
    <div th:class="navbar">
        <ul>
            <li>
                <a href ="/">Home</a>
            </li>
            <li>
                <a href ="/student/addForm" target = "content">Add New Students</a>
            </li>
            <li>
                <a href="/student/list" target = "content">Students List</a>
            </li>
            <li>
                <a href="/course/addForm" target = "content">Add New Courses</a>
            </li>
            <li>
                <a href="/course/list" target = "content">Courses List</a>
            </li>
            <li>
                <a href ="/result/addForm" target = "content">Add New Results</a>
            </li>
            <li>
                <a href ="/result/list" target = "content">Results List</a>
            </li>
        </ul>
    </div>
    <div th:class = "frame">
        <iframe name="content"></iframe>
    </div>
</body>

